<br>
<br>
<br>
<html>

<head>

<link rel=”stylesheet” href=”data.component.css”>

</head>

<body>

<header>

<nav>

<h1>Crime Data: Chicago</h1>

</nav>

</header>

<main>

<section id=”hero”>

<div class=”section-inner”>
<br>
<h3>This dataset reflects reported incidents of crime that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. Data is extracted from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system. In order to protect the privacy of crime victims, addresses are shown at the block level only and specific locations are not identified. </h3>

<h2>Assault</h2>
<div class="container">
    <div>Date: 04/06/2022 3:50 PM</div>
    <div>Description: Shooting/Stabbing. Delayed: CPD o/s of a female with a graze wound to the thigh.</div>
    <div>Address: 10800 BLOCK OF S INDIANA AVE, Chicago, IL</div>
  </div>

<br>
<h2>Shooting</h2>

  <div class="container">
      <!-- <div>Type: Shooting</div> -->
      <div>Date: 04/07/2022 1:22 AM</div>
      <div>Description: Violent Crime. CPD o/s investigating shots fired. Eight casings found.</div>
      <div>Address: 2700 BLOCK OF W 38TH ST, Chicago, IL</div>
  </div>
  
  <br>
    <div class="container">
      <!-- <div>Type: Shooting</div> -->
      <div>Date: 04/07/2022 4:47 AM</div>
      <div>Description: Violent Crime. CPD o/s investigating shots fired. Casings located.</div>
      <div>Address: 2800 BLOCK OF S WALLACE ST, Chicago, IL</div>
  </div>
  <br>

  <div class="container">
    <!-- <div>Type: Shooting</div> -->
    <div>Date: 04/06/2022 9:22 PM</div>
    <div>Description: Shooting/Stabbing. CPD rptg a victim dropped off at Roseland Hospital with a gunshot wound to face</div>
    <div>Address: 00 BLOCK OF WEST 111TH ST, Chicago, IL</div>
  </div>
  <br>
  <div class="container">
    <div>Date: 03/13/2022 11:59 PM</div>
    <div>Description: SHOTS FIRED</div>
    <div>Address: 2100 BLOCK OF S WIRT AVENUE, Springfield, IL</div>
  </div>


<br>
<h2>Theft</h2>

<div class="container">
    <div>Type: Robbery</div>
    <div>Date: 04/07/2022 12:57 AM</div>
    <div>Description: Armed Robbery. CPD o/s of a person who was robbed at gunpoint. 4 male suspects fled.</div>
    <div>Address: W 13TH ST AND S MILLARD AVE, Chicago, IL</div>
</div>
<br>

<div class="container">
    <div>Date: 02/22/2022 8:23 PM</div>
    <div>Description: Armed Robbery. PD o/s with a carjacking victim. male w/gun fled in E/B in victims red Kia IL Lic#E811628</div>
    <div>Address: 5200 BLOCK OF FASHION OUTLETS WAY, Rosemont, IL</div>
  </div> 
<br>

<h5>Should you have questions about this dataset, you may contact the Research & Development Division of the Chicago Police Department at 312.745.6071 or RandD@chicagopolice.org.</h5>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <!-- <div class="container">
    <div>Type: </div>
    <div>Date: </div>
    <div>Description: </div>
    <div>Address: </div>
  </div> -->

</div>

</section>



</main>

</body>

</html>

